<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->
    <div class="content-wrapper">


        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>New Dealer's Apply</h1>
                    </div>
                </div>
            </div>
        </section>


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">New Apply List</h3>
                            </div>
                            <div class="card-body">

                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Shop</th>
                                        <th>Address</th>
                                        <th>NID @ TIN</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody class="table-body">
                                    <th:block th:each="apply:${applyDtoList}">
                                        <tr>
                                            <td class="counterCell"></td>
                                            <td th:text="${apply.name}"></td>
                                            <td th:text="${apply.mobile}"></td>
                                            <td th:text="${apply.shop}"></td>
                                            <td th:text="${apply.address}"></td>
                                            <td>
                                                <button class="nid-show btn btn-outline-primary"
                                                        data-toggle="modal" data-target="#modal-xl"
                                                        th:value="${apply.applyId}">Show
                                                </button>
                                            </td>

                                            <td>
                                                <a th:href="@{'/admin/confirm/'+${apply.applyId}}"
                                                   class="btn btn-outline-success">Confirm</a>
                                                <button class="reject btn btn-outline-danger"
                                                        data-toggle="modal" data-target="#modal-lg"
                                                        th:value="${apply.applyId}">Reject
                                                </button>
                                            </td>
                                        </tr>

                                    </th:block>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <h3 th:text="${message}" class="text-center alert-success"></h3>

        <!--region: NID & TIN Image Modal-->
        <div class="modal fade" id="modal-xl">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Document's</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card card-outline card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">NID Image</h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"
                                                            data-card-widget="collapse" title="Collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-tool"
                                                            data-card-widget="remove">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div class="text-center"><img class="nidImage"/></div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="card card-outline card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">TIN Image</h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"
                                                            data-card-widget="collapse" title="Collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-tool"
                                                            data-card-widget="remove">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div class="text-center"><img class="tinImage"/></div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--endregion-->

        <!--region: Reject Email Modal-->
        <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Dealership Rejection Email </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-outline card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Email</h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"
                                                            data-card-widget="collapse" title="Collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <form th:action="@{/admin/reject}" th:object="${emailDto}"
                                                      method="post">
                                                    <div class="card-body">
                                                        <input type="hidden" th:field="*{requiredId}" class="applyId"/>
                                                        <!----------------------------------------------------------------->
                                                        <div class="form-group">
                                                            <label>Email Subject</label>
                                                            <input type="text" class="form-control"
                                                                   th:field="*{emailSubject}" required/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email Body</label>
                                                            <textarea class="form-control" th:field="*{emailBody}"
                                                                      rows="5"
                                                                      placeholder="Enter Your Mail Message . . ."
                                                                      required>
                                                            </textarea>
                                                        </div>
                                                        <!------------------------------- Button ---------------------------------->
                                                        <div class="col-md-12 text-right">
                                                            <button class="btn btn-outline-primary"
                                                                    type="submit">Send Email
                                                            </button>

                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--endregion-->

        <!--/*/ <th:block th:include="@{fragments/common} :: scroll"></th:block> /*/-->

    </div>
</div>


<!--/*/ <th:block th:include="@{fragments/jquery} :: approval-jquery"></th:block> /*/-->
<!--/*/ <th:block th:include="@{fragments/jquery} :: common-jquery"></th:block> /*/-->


</body>
</html>