<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->
    <div class="content-wrapper">

        <!--region: Product Stock In form-->
        <div class="container">
            <h2 class="text-center">Product Stock In</h2>


            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Stock</h3>
                                </div>


                                <form class="productStockIn">
                                    <div class="card-body">

                                        Category List:
                                        <select class="categoryDropdownList form-control" required>
                                            <option disabled selected>---- Select a Category ----</option>
                                            <option th:each="category : ${categoryDtoList}"
                                                    th:value="${category.categoryId}"
                                                    th:text="${category.categoryName}">
                                            </option>
                                        </select><br>

                                        Item List:
                                        <select name="itemId" class="itemDropdown form-control" required></select><br>

                                        Item's Current Quantity: <input type="text" class="itemQuantity form-control"
                                                                        placeholder="Item's Current Quantity" readonly/><br>

                                        Item Quantity: <input type="number" min="1" name="itemQuantity" class="stockNumber form-control"
                                                              placeholder="Stock Quantity" required/><br>


                                        <!------------------------------- Button ---------------------------------->
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-primary swalDefaultSuccess" type="submit">Add Quantity</button>
                                            <br>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- endregion-->
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <!-- endregion -->

    </div>
</div>

<!--/*/ <th:block th:include="@{fragments/jquery} :: product-stock-jquery"></th:block> /*/-->
<!--/*/ <th:block th:include="@{fragments/jquery} :: common-jquery"></th:block> /*/-->



</body>
</html>