<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->
    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Dealer Requisitions</h1>
                    </div>
                </div>
            </div>
        </section>


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Requisition List</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">

                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Dealer</th>
                                        <th>Show-Product</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody class="table-body">
                                    <th:block th:each="requisition:${requisitionDtoList}">
                                        <tr>
                                            <td class="counterCell"></td>
                                            <td th:text="${requisition.dealer}"></td>
                                            <td>
                                                <button class="product-show btn btn-outline-primary"
                                                        th:value="${requisition.requisitionId}">Products
                                                </button>
                                            </td>

                                            <td><a th:href="@{'/inventory/check-payment/'+${requisition.requisitionId}}"
                                                   class="btn btn-outline-info">Payment Status</a></td>
                                        </tr>

                                    </th:block>
                                    </tbody>
                                </table>

                            </div>
                        </div><!-- endregion-->
                    </div>

                    <div class="col-md-6">
                        <div class="card card-outline card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Requisition's Products Quantity</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-hover table-primary">
                                    <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Item</th>
                                        <th>Quantity(Carton)</th>
                                    </tr>
                                    </thead>

                                    <tbody class="product-table-body"></tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h3 th:text="${message}" class="text-center alert-success"></h3>



    </div>
</div>



<!--/*/ <th:block th:include="@{fragments/jquery} :: dealer-requisition"></th:block> /*/-->

<!--/*/ <th:block th:include="@{fragments/jquery} :: common-jquery"></th:block> /*/-->
</body>
</html>