<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!------------------------------------------------- Title, Bootstrap --------------------------------------------------->
<head th:fragment="head(title='')">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <!--<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">-->

    <!--region: Links-->
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
    <!-- iCheck -->
    <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    <!-- JQVMap -->
    <link rel="stylesheet" th:href="@{/plugins/jqvmap/jqvmap.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <!-- Daterange picker -->
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
    <!-- summernote -->
    <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">
    <!-- SweetAlert2 -->
    <link rel="stylesheet"  th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
    <!-- Toastr -->
    <link rel="stylesheet"  th:href="@{/plugins/toastr/toastr.min.css}">
    <!-- summernote -->
    <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">


    <!--endregion-->

    <style>
        table {
            counter-reset: tableCount;
        }

        .counterCell:before {
            content: counter(tableCount);
            counter-increment: tableCount;
        }
    </style>
    <!------------------------------------- CDN Net Link---------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!----------------------------region: Navigation Bar ----------------------------->
<div th:fragment="navigation">
    <!--region: Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a th:href="@{/}" class="nav-link">Home</a>
            </li>
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
    <!-- endregion -->

    <!--region: Side Navbar-->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img th:src="@{/dist/img/tajbir.png}" alt="Tajbir Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Supply Chain</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <!--<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Alexander Pierce</a>
                </div>
            </div>-->


            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Inventory Manager')"
                           th:href="@{/inventory/category/}">
                            <i class="nav-icon far fa-circle text-danger"></i>
                            <p class="text">Category</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Inventory Manager')"
                           th:href="@{/inventory/item/}">
                            <i class="nav-icon far fa-circle text-warning"></i>
                            <p>Item</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Inventory Manager')"
                           th:href="@{/inventory/stock/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Stock In</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Inventory Manager')"
                           th:href="@{/inventory/requisition/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Requisition</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Inventory Manager')"
                           th:href="@{/inventory/confirm-requisition/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Confirmed Requisition</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Dealer')" th:href="@{/dealer/requisition/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Product</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Dealer')" th:href="@{/dealer/wishlist/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Requisition</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Dealer')"
                           th:href="@{/dealer/requisition-list/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>All Requisitions List</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Admin')" th:href="@{/admin/approval/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>New Dealer</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Accounts Manager')" th:href="@{/ac-manager/requisition/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Requisition</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Accounts Manager')" th:href="@{/ac-manager/due-payment-requisition/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Due Payment Requisition</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('Accounts Manager')" th:href="@{/ac-manager/confirmed-requisition/}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Clear Requisitions</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Login</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p>Logout</p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <!--endregion-->
</div>
<!--endregion-->


<!--region:Upper Scroll-->
<div th:fragment="scroll">
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
</div>
<!--endregion-->


</html>