<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Payment For Requisition</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Payment Details</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>


                                <div class="card-body">
                                    <form th:action="@{/dealer/payment}" th:object="${transactionDto}" method="post">
                                    <input type="hidden" th:field="*{transactionId}"/>
                                    <!----------------------------------------------------------------->
                                    Transaction No.: <input type="text" class="form-control" th:field="*{transactionNo}"
                                                            readonly/><br>
                                    Account No.: <input type="text" class="form-control" th:field="*{account}"
                                                        required/><br>

                                    Total Payable Amount: <input type="text" class="form-control"
                                                                 th:value="${payableAmount}" readonly/><br>
                                    Amount: <input type="text" class="form-control" th:field="*{amount}" required/><br>

                                    <!------------------------------- Button ---------------------------------->
                                    <div class="col-md-12 text-right">
                                        <button th:if="${transactionDto.transactionId==0}" class="btn btn-primary"
                                                type="submit">Payment
                                        </button>
                                        <button th:Unless="${transactionDto.transactionId==0}" class="btn btn-primary"
                                                type="submit">Due Payment
                                        </button>
                                    </div>

                                    <h5 th:text="${message}"></h5>

                            </form>
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </div>
</div>

<!-- endregion-->

<!--/*/ <th:block th:include="@{fragments/jquery} :: common-jquery"></th:block> /*/-->

</body>
</html>