<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->

    <div class="content-wrapper">
        <h2 class="text-center">Products</h2>
        <!--region: Product Stock In form-->
        <div class="container">

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <!-- Default box -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Product Details</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <form class="productRequisition">

                                        Category List:
                                        <select class="categoryDropdownList form-control" required>
                                            <option disabled selected>---- Select a Category ----</option>
                                            <option th:each="category : ${categoryDtoList}"
                                                    th:value="${category.categoryId}"
                                                    th:text="${category.categoryName}">
                                            </option>
                                        </select><br>

                                        Item List:
                                        <select name="itemId" class="itemDropdown form-control" required></select><br>

                                        Item's Quantity Per Carton: <input type="text" class="quantity form-control"
                                                                           placeholder="Quantity" readonly/><br>
                                        Item's Price Per Carton: <input type="text" class="itemPrice form-control" placeholder="Price"
                                                                        readonly/><br>

                                        Item Quantity: <input type="number" min="1" name="itemQuantity"
                                                              class="orderProduct form-control"
                                                              placeholder="Requisite Quantity" required/><br>

                                        <!------------------------------- Button ---------------------------------->
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-primary toastrDefaultSuccess" type="submit">Add Quantity</button>
                                            <br>
                                        </div>

                                    </form>

                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <h3 th:text="${message}" class="text-center alert-success"></h3>
                                </div>
                                <!-- /.card-footer-->
                            </div>
                            <!-- /.card -->
                        </div>

                        <div class="col-6">
                            <!-- Default box -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Product Image</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="text-center"><img class="itemImage"/></div>

                                </div>
                                <!-- /.card-body -->

                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <!-- endregion -->

    </div>
</div>
<!--/*/ <th:block th:include="@{fragments/jquery} :: requisition-jquery"></th:block> /*/-->
<!--/*/ <th:block th:include="@{fragments/jquery} :: common-jquery"></th:block> /*/-->
</body>
</html>