<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body class="hold-transition lockscreen">
<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->
<div class="wrapper">


        <div class="lockscreen-wrapper">
            <div class="lockscreen-logo">
                <a th:href="@{/}"><b>Welcome</b></a>
            </div>
            <!-- User name -->
            <div class="lockscreen-name">Supply Chain</div>

            <!-- START LOCK SCREEN ITEM -->
            <div class="lockscreen-item">
                <!-- lockscreen image -->
                <div class="lockscreen-image">
                    <img th:src="@{/dist/img/tajbir.png}" alt="Supply Chain">
                </div>
                <!-- /.lockscreen-image -->

                <!-- lockscreen credentials (contains the form) -->
                <form class="lockscreen-credentials">

                    <div class="input-group" sec:authorize="isAnonymous()">
                        <input type="text" class="form-control btn-outline-primary" placeholder="Please Login First" disabled>

                        <div class="input-group-append">
                            <button type="button" class="btn">
                                <a th:href="@{/login}"> <i class="fas fa-info text-muted"></i></a>
                            </button>
                        </div>
                    </div>

                    <div class="input-group" sec:authorize="hasAuthority('Dealer')">
                        <input type="text" class="form-control btn-outline-primary" placeholder="Dealer" disabled>

                        <div class="input-group-append">
                            <button type="button" class="btn">
                                <a th:href="@{/}"> <i class="fas fa-home text-muted"></i></a>
                            </button>
                        </div>
                    </div>

                    <div class="input-group" sec:authorize="hasAuthority('Inventory Manager')">
                        <input type="text" class="form-control btn-outline-primary" placeholder="Inventory Manager" disabled>

                        <div class="input-group-append">
                            <button type="button" class="btn">
                                <a th:href="@{/}"> <i class="fas fa-home text-muted"></i></a>
                            </button>
                        </div>
                    </div>

                    <div class="input-group" sec:authorize="hasAuthority('Accounts Manager')">
                        <input type="text" class="form-control btn-outline-primary" placeholder="Accounts Manager" disabled>

                        <div class="input-group-append">
                            <button type="button" class="btn">
                                <a th:href="@{/}"> <i class="fas fa-home text-muted"></i></a>
                            </button>
                        </div>
                    </div>

                    <div class="input-group" sec:authorize="hasAuthority('Admin')">
                        <input type="text" class="form-control btn-outline-primary" placeholder="Admin" disabled>

                        <div class="input-group-append">
                            <button type="button" class="btn">
                                <a th:href="@{/}"> <i class="fas fa-home text-muted"></i></a>
                            </button>
                        </div>
                    </div>

                    <div class="input-group" sec:authorize="hasAuthority('Delivery Incharge')">
                        <input type="text" class="form-control btn-outline-primary" placeholder="Delivery Incharge" disabled>

                        <div class="input-group-append">
                            <button type="button" class="btn">
                                <a th:href="@{/}"> <i class="fas fa-home text-muted"></i></a>
                            </button>
                        </div>
                    </div>


                </form>
                <!-- /.lockscreen credentials -->

            </div>
            <!-- /.lockscreen-item -->

        </div>
    </div>
</div>


<!--/*/ <th:block th:include="@{fragments/jquery} :: common-jquery"></th:block> /*/-->
</body>
</html>