<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body class="hold-transition lockscreen">
<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
                <div>
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><a th:href="@{/}"><i
                                class="fas fa-home"></i></a></span>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="lockscreen-wrapper">

        <div class="lockscreen-logo">
            <a th:href="@{/login}"><b>Sing In</b></a>
        </div>

        <!-- <div class="lockscreen-name">John Doe</div>-->

        <!-- region: START LOCK SCREEN ITEM -->
        <form method="post" th:action="@{/login-process}">
            <div class="lockscreen-item">
                <!-- lockscreen image -->
                <div class="lockscreen-image">
                    <img th:src="@{/dist/img/tajbir2.png}" alt="User Image">
                </div>
                <!-- /.lockscreen-image -->

                <div class="lockscreen-credentials">
                    <div class="input-group">
                        <input type="email" id="username" name="username" class="form-control"
                               placeholder="Username" required autofocus>

                        <div class="input-group-append">
                            <button type="button" class="btn" disabled>
                                <i class="fas fa-user text-muted"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>

            <div class="lockscreen-item">
                <div class="lockscreen-credentials">
                    <div class="input-group">
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Password" required>

                        <div class="input-group-append">
                            <button type="submit" class="btn">
                                <i class="fas fa-arrow-right text-muted"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- /.lockscreen credentials -->

            </div>


        </form>
        <!--endregion -->

        <div th:if="${param.error}" class="alert alert-default-danger text-center">
            <h4>Invalid Username or Password</h4>
        </div>

        <div th:if="${param.logout}" class="alert alert-success">
            <h3>Successfully Logout</h3>
        </div>

        <a th:href="@{/get-dealer-reg}" class="btn btn-lg btn-outline-primary btn-block">Apply For Dealership</a>


        <p class="mt-lg-5 mb-3 text-muted text-center">&copy; Abdullah Al Tajbir</p>

    </div>
</div>

</body>
</html>